<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks</title>
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- jQuery UI JS -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<style>
body {
    background: rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
.todo-container {
    width: 500px;
    margin: 8vh auto 0  auto;
    background-color: #f9f9f9;
    padding: 2.25rem;
    border-radius: 0.25rem;
}
#todo {
    padding: 0.5rem;
}
h1 {
    margin: 0;
    padding-bottom: 0.75rem;
}
ul {
    list-style-type: none;
    padding-left: 0;
    height: 50vh;
    overflow: scroll;
}
ul li {
    position: relative;
    padding: 0.75rem;
    overflow-wrap: break-word;
    cursor: pointer;
}
input {
   width: 100%;
   background-color: #f9f9f9;
   border: 1px solid #dee2e6;
   border-top: none;
   border-left: none;
   border-right: none;
}
input:focus {
    outline: none;
}
.item-complete {
    color: rgba(33, 37, 41, 0.2);
    text-decoration: line-through;
}
.ic-delete {
    position: absolute;
    right: 0px;
    top: 0px;
    color: rgba(33, 37, 41, 1);
    padding: 0.75rem 1.25rem;
}
.ic-delete:hover {
    color: #dc3545;
}
</style>
<body>
    <div class="container">
        <div class="todo-container">
            <h1 class="border-bottom">Tasks</h1>
            <ul id="todoList">
                <div id="emptyTasks" style="width: 100%; color: #5d5d5d;" class="text-center mt-4">
                    <p>No tasks added</p>
                </div>
            </ul>
            <input type="text" name="todo" id="todo" placeholder="Add task here">
        </div>
    </div>
</body>
<script>
    // add drag and drop for task items
    $(function() {$( "#todoList" ).sortable()})
</script>
<script>
    // auto focus on task input
    $('#todo').select()
</script>
<script>
    // start id numbering for todo items
    let todoId = 0

    // enter keypress
    $('#todo').keypress(function (e) {
        let key = e.which;
        if(key == 13){
            let val = $(this).val()
            
            // exit if value is empty
            if(!val) {
                return
            }

            // add task to list
            $("#todoList").append(`<li class="todo-item border-bottom" data-id="${todoId}">${val}<span class="ic-delete" style="float: right;">✕</span></li>`)
            $(this).val('')

            // remove empty state
            updateEmptyState()

            // add complete click event to task item
            $(`li[data-id='${todoId}']`).on('click', function(e){
                $(this).toggleClass('item-complete')
            })

            // add delete click event to task item
            $(`li[data-id='${todoId}'] .ic-delete`).on('click', function(e){
                $(this).parent().remove()
                // check for empty state
                updateEmptyState()
            })

            // update id for next item
            todoId++
        }
    });
    
    function updateEmptyState() {
        if($('ul li').length > 0){
            // clear empty state
            $('#emptyTasks').hide()
        } else {
            // add empty state
            $('#emptyTasks').show()
        }
    }
</script>
</html>